* {
  box-sizing: border-box;
}

.img {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid red;
  object-fit: cover;
  object-position: left;
}

.fake-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid red;

  background-image: url(./../img/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
