* {
  box-sizing: border-box;
 
}

/* .img {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid red;
  object-fit: cover;
  object-position: left;
}

.fake-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid red;

  background-image: url(./../img/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
} */

.div {
  display: inline-block;
  /*
    1vh - відсоток висоти від в'юпорта
    1vw - відсоток довжини від в'юпорта

    1vmin - 1 відсоток від меншої сторони в'юпорта
    1vmax - 1 відсоток від більшої сторони в'юпорта
  */
  width: 100vmin;
  height: 100vmin;
  border: 10px solid red;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  /* padding: 70px 0; */


}

/* .hidden-1 {
  display: none;
}

.hidden-2 {
  opacity: 0;
}

.hidden-3 {
  visibility: hidden;
} */

.ol {
  /*
    list-style-type
    list-style-image
    list-style-position : outside (default) | inside - розміщення маркерів відносно паддінгів
  */
  /* list-style: ; */
  /* list-style-type: 'Item: '; */

  /* list-style: 'Item: ' inside; */
  list-style: none;
}

.ul {
  list-style: url(./../icons/arrow-right-thin.svg) outside;
  /* list-style-image: url(./../icons/arrow-right-thin.svg); */
  /* font-size: 60px; */
}

table {
  font-size: 24px;
  border: 5px solid black;
  border-collapse: collapse;
}

th, 
td {
  min-width: 100px;
  padding: 10px 20px;
  border: 5px solid black;
  text-align: center;
  /* вертикальне вирівнювання для таблиць*/
  vertical-align: middle;
  
}